<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MKSCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mksPath" value="" />
  </appSettings>
  <userSettings>
    <MKSCreator.Properties.Settings>
      <setting name="mksPath" serializeAs="String">
        <value />
      </setting>
      <setting name="lastImage" serializeAs="String">
        <value />
      </setting>
      <setting name="lastPath" serializeAs="String">
        <value />
      </setting>
    </MKSCreator.Properties.Settings>
  </userSettings>
</configuration>